.formContainer{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 32px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.formContainer__input{
   height: 32px;
   margin-left: 8px;
   font-size: 24px;
   padding: 8px;
}

.form__btn{
    height: 56px;
    width: 240px;
    font-size: 24px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: none;
    cursor: pointer;

    &:active{
        background-color: #ccc;
        color: var(--primaryColor);
    }
}
